<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
  </ng-template>
</page-header>
<nz-card>
  <h3>Edit Carts </h3>

  <form nz-form [formGroup]="cartsForm" (ngSubmit)="onSubmit($event)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Products</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <input nz-input formControlName="products" placeholder="products" required />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired nzFor="number">Date</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="date" placeholder="date" />

      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>User-Id</nz-form-label>
      <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Please input your password!">
        <input nz-input type="number" formControlName="userId" placeholder="userId" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" (click)="goBack()">Back</button>
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>